Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging.local
.git
.gitignore
.next
.nyc_output
.vercel
.yarn
coverage
dist
.DS_Store
*.log
__tests__
.vitest
coverage 